# Python-specific ignores
*.pyc
__pycache__/
*.pyd
*.egg-info
.Python
Lib/
Include/
*.lib
build
develop-eggs
dist
downloads
eggs
.ipynb_checkpoints
*.swo
*~
.mypy_cache/
.dmypy.json
venv/
.venv/
env/
ENV/
pyvenv.cfg
*.log
*.temp
*.bak
*.tmp


.env

)
.DS_Store
Thumbs.db


.streamlit/cache/